---
layout: default
---

<div class="jumbotron wrapper">
  <div class="col-md-8">
    <h1 class="display-4">{{ site.greeting }}</h1>
    <p class="lead">
      {{ site.description }}
    </p>
    <hr class="my-4">
    <p><a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/datasets" role="button">Browse All</a></p>
  </div>
  <div class="col-md-4 catalog-logo">
    <img class="inner-logo" src="{{site.baseurl}}{{site.logo}}">
  </div>
  
</div>

<!--
<h3>Browse on the Map</h3>
<div style="height:500px; margin-bottom: 100px;">
  
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="1" marginwidth="1"
        src="https://www.easymapmaker.com/map/8b0f9d3330eabf674060a33ba3163dde"/>
    </iframe>
    
</div>
-->


<h3>Browse by Collection</h3>
<div class="homepage-categories">
{% for collection in site.data.collections %}
  {% if collection.featured == true %}
    {% capture logo_alt %}{{ collection.name }}{% if collection.logo_credit and collection.logo_credit != empty %} logo by {{ collection.logo_credit }}{% endif %}{% endcapture %}
    <a href="{{ site.baseurl }}/datasets/?collection_name={{ collection.name | slugify }}" class="thumbnail" title="{{ logo_alt }}">
      {% if collection.logo and collection.logo != empty %}
        <img src="{{ site.baseurl }}{{ collection.logo }}" alt="{{ logo_alt }}">
      {% endif %}
      <br>
      {{ collection.name }}
    </a>
  {% endif %}
{% endfor %}
</div>


<!--<h3>Browse by Category</h3>-->
<!--<div class="homepage-categories">-->
<!--{% for category in site.data.categories %}-->
<!--  {% if category.featured == true %}-->
<!--    {% capture logo_alt %}{{ category.name }}{% if category.logo_credit and category.logo_credit != empty %} logo by {{ category.logo_credit }}{% endif %}{% endcapture %}-->
<!--    <a href="{{ site.baseurl }}/datasets/?category={{ category.name | slugify }}" class="thumbnail" title="{{ logo_alt }}">-->
<!--      {% if category.logo and category.logo != empty %}-->
<!--        <img src="{{ site.baseurl }}{{ category.logo }}" alt="{{ logo_alt }}">-->
<!--      {% endif %}-->
<!--      <br>-->
<!--      {{ category.name }}-->
<!--    </a>-->
<!--  {% endif %}-->
<!--{% endfor %}-->
<!--</div>-->

<h3 id="services">Services</h3>
<div class="homepage-categories">
  {% for service in site.data.services %}
  {% if service.featured == true %}
  {% capture logo_alt %}{{ service.name }}{% if service.logo_credit and service.logo_credit != empty %} logo by {{ service.logo_credit }}{% endif %}{% endcapture %}
  <a href="{{service.url}}" class="thumbnail" title="{{ logo_alt }}">
    {% if service.logo and service.logo != empty %}
    <img src="{{ site.baseurl }}{{ service.logo }}" alt="{{ logo_alt }}" width="75" height="50">
    {% endif %}
    <br>
    {{ service.name }}
  </a>
  {% endif %}
  {% endfor %}
</div>
